<!------footer start--------->
<footer>
    <p>Elshad Khanishli</p>
    <p>For more information about my activity, follow my Social media:</p>
    <div class="social">
        <a href="https://www.linkedin.com/in/elshad-khanishli-725ab5211/"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/elshadzaka/"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/TanhuKowski"><i class="fab fa-github"></i></a>
    </div>
    <p class="end">Copyrighted by Elshad Khanishli</p>
</footer>